go 1.21.6

use (
	./string
	./Hello
	./UserInput
	./arrays
	./closure
	./conditionalStatement
	./conversions
	./defer
	./externalModules
	./files
	./functions
	./goroutine
	./loop
	./map
	./methods
	./pointers
	./slices
	./sorting
	./structs
	./switchcase
	./variables
)
